[submodule "services/command-service"]
	path = services/command-service
	url = git@github.com:totalnugget/S6m-Command-Service.git
[submodule "services/village-service"]
	path = services/village-service
	url = git@github.com:totalnugget/S6m-Village-Service.git
